<div class="container">
  <div class="title">
    <h1>To Do App</h1>
  </div>
  <div class="sub-container">
    <br>
    @if (!isUpdateFormActive) {
    <div>
      <div class="form-group">
        <input type="text" [(ngModel)]="work" [class]="changeInputCLass()" placeholder="Add New Task" id="work"
          name="work" class="input" autocomplete="off">
      </div>
      <div class="form-group2">
        <button [disabled]="work.length < 3" (click)="save()" class="kaydet-buton" mat-button>Kaydet</button>
      </div>
    </div>}
    @if (isUpdateFormActive) {
    <div>
      <div class="form-group">
        <input [(ngModel)]="updateWork" type="text" class="form-control" id="work" name="work">
      </div>
      <div class="form-group">
        <div class="update-buton">
          <fa-icon class="buton-güncelle" (click)="update()" icon="pen"></fa-icon>
        </div>
        <button (click)="cancel()" class="buton">Vazgeç</button>
      </div>
    </div>
    }
    <hr>
    <ul>
      @for (work of works; track $index) {
      <li>
        <div style="display: flex; ">
          <div style="width: 80%; line-break: anywhere;">
            {{work}}
          </div>
          @if (!isUpdateFormActive) {
          <div class="icons">
            <fa-icon class="buton-güncelle" (click)="get(work,index)" icon="pen"></fa-icon>
            <fa-icon class="delete-icon" (click)="remove($index)" icon="trash-can"></fa-icon>
          </div>
          }
        </div>

      </li>}
    </ul>
  </div>
</div>